<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target name="console" xsi:type="Console" layout="${longdate} [${level}] ${message}"/>

        <target name="detailedConsole" xsi:type="Console"
                layout="${callsite:className=true:methodName=true:fileName=false:includeSourcePath=false:cleanNamesOfAnonymousDelegates=false} (line: ${callsite-linenumber}) -> [${level}] ${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="detailedConsole"/>
    </rules>
</nlog>
